@font-face {
  font-family: "Special Elite";
  src: url("../assets/fonts/SpecialElite-Regular.ttf");
}

@font-face {
  font-family: "Catamaran Thin";
  src: url("../assets/fonts/Catamaran-Thin.ttf");
}

@font-face {
  font-family: "Catamaran Regular";
  src: url("../assets/fonts/Catamaran-Regular.ttf");
}

@font-face {
  font-family: "Catamaran Bold";
  src: url("../assets/fonts/Catamaran-Bold.ttf");
}
