.developer-contact {
  background-color: $background-color-secondary;
  font-family: $font-family-developer;
  color: $text-color-brand;
  max-width: 980px;
  margin: 0px auto 20px;
  height: 80px;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: end;

  .dark-theme & {
    background-color: $background-color-dark-element;
  }

  &__image-wrapper {
    margin-right: 20px;
  }

  &__developer-image {
    width: 100%;
    max-width: 40px;
  }

  &__developer-desc {
    margin-right: 20px;
  }  

  &__social-link {
    width: 100%;
    max-width: 15px;
    margin-right: 10px;
  }
}
