.main-header {
  background-color: $background-color-secondary;
  padding: 20px;
  max-width: 980px;
  height: 80px;
  margin: 20px auto 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .dark-theme & {
    background-color: $background-color-dark-element;
  }

  &__question {
    font-family: $font-family-bold;
    font-size: 18px;
  }

  &__theme-button {
    background-color: $background-color-secondary;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .dark-theme & {
      background: none;
    }

    &__img {
      max-width: 10px;
      width: 100%;
    }

    &__sun {
      max-width: 20px;
      width: 100%;
    }

    &__desc {
      font-family: $font-family-regular;
      font-size: 18px;

      .dark-theme & {
        color: $text-color-secondary;
      }
    }
  }
}
