.countries-list {
  max-width: 980px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: calc(100vh - 290px);

  &__item {
    width: calc(25% - 20px);
    padding: 0px;
    margin: 0px 10px 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: $background-color-secondary;

    .dark-theme & {
      background-color: $background-color-dark-element;
    }

    &-flag {
      width: 100%;
      height: 100px;
      margin-bottom: 20px;
      padding: 0px;

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-desc {
      padding: 0px 20px;

      &__name {
        font-size: 20px;
        font-family: $font-family-bold;
        margin-bottom: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &__population {
        font-size: 14px;
        margin-bottom: 20px;
      }

      &__region {
        font-size: 14px;
        margin-bottom: 20px;
      }

      &__capital {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 860px) {
  .countries-list__item {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 630px) {
  .countries-list__item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 430px) {
  .countries-list__item {
    width: calc(100% - 20px);
  }
}