.country-search {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  &__name {
    display: flex;
    justify-content: space-between;
    background: $background-color-secondary;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 4px;
    border: 1px solid $border-color-primary;
    height: 50px;
    width: 320px;

    .dark-theme & {
      background-color: $background-color-dark-element;
      color: $text-color-secondary;
    }

    &-button {
      border: none;
      padding: 0px;
      margin: 0px 15px;
      cursor: pointer;
      background: none;

      &:hover {
        transform: scale(1.4);
        transition: all 0.4s ease;
      }
    }
    &-input {
      color: $text-color-primary;
      font-size: 20px;
      padding: 5px 10px;
      outline: none;
      transition: all 0.3s ease;
      opacity: 0.6;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      border-radius: 4px 0px 0px 4px;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__reset {
    display: none;

    &.active {
      display: block;
    }

    &-button {
      font-size: 20px;
      height: 50px;
      cursor: pointer;
      border: none;
      background: none;
      opacity: 0.6;
      transition: all 0.3s ease;

      &:hover {
        opacity: 1;
      }

      &.change-color {
        color: $text-color-secondary;
      }
    }
  }

  &__region {
    position: relative;
    display: inline-block;

    &-button {
      border-radius: 4px;
      border: 1px solid $border-color-primary;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      background: $background-color-secondary;
      width: 180px;
      font-size: 20px;
      padding: 5px 10px;
      height: 50px;
      cursor: pointer;

      .dark-theme & {
        background-color: $background-color-dark-element;
        color: $text-color-secondary;
      }

      &::first-letter {
        text-transform: uppercase;
      }
    }

    &-dropdown {
      display: none;
      position: absolute;
      width: 180px;
      z-index: 1;

      &__button {
        width: 100%;
        border-radius: 4px;
        border: 1px solid $border-color-primary;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 10px 0px;
        cursor: pointer;
        background: $background-color-secondary;
        font-size: 16px;

        .dark-theme & {
          background-color: $background-color-dark-element;
          color: $text-color-secondary;
        }

        &:hover {
          transform: scale(1.2);
          transition: all 0.4s ease;
        }
      }
    }
  }
}

::placeholder {
  color: $text-color-primary;
  font-size: 20px;
}

:-ms-input-placeholder {
  color: $text-color-primary;
  font-size: 20px;
}

::-ms-input-placeholder {
  color: $text-color-primary;
  font-size: 20px;
}

.country-search__region:hover .country-search__region-dropdown {
  display: flex;
  flex-direction: column;
}

@media (max-width: 690px) {
  .country-search {
    flex-direction: column;

    &__name {
      margin-bottom: 10px;

      &-button {
        margin: 0px 10px;
      }
    }

    &__reset {
      margin-bottom: 10px;
    }
  }
}
