@import "variables.scss";
@import "fonts.scss";
@import "header.scss";
@import "search.scss";
@import "main.scss";
@import "footer.scss";

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $font-family-regular;
  min-width: 340px;
}

.light-theme {
  background-color: $background-color-primary;
  color: $text-color-primary;
}

.dark-theme {
  background-color: $background-color-dark;
  color: $text-color-secondary;
}
