$text-color-brand: #f0ad31;
$text-color-primary: #000000;
$text-color-secondary: #ffffff;
$background-color-primary: #ebebeb;
$background-color-secondary: #ffffff;
$background-color-dark: #000000;
$background-color-dark-element: #606060;
$border-color-primary: #cbcbcb;
$font-family-developer: "Special Elite";
$font-family-thin: "Catamaran Thin";
$font-family-regular: "Catamaran Regular";
$font-family-bold: "Catamaran Bold";
